<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'main/home.css' %}">
    </head>

    <body>
        <header>
            <div class="topbar d-flex">
                <div class="logo-menu-wrap d-flex">
                    <span class="top-icons menu-icon">
                        ☰
                    </span>
                    <div class="logo-wrap">
                        <a href="#">
                            <img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r5.png" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="search-help-setting-wrap d-flex">
                    <div class="search-container d-flex">
                        <i class="top-icons bi bi-search"></i>
                        <input type="text" placeholder="Search mail" class="search-input">
                        <i class="top-icons bi bi-sliders"></i>
                    </div>
                    <div class="icon-box">
                        <i class="top-icons bi bi-question-circle"></i>
                        <i class="top-icons bi bi-gear"></i>
                    </div>
                </div>
                <div class="google-apps-account-wrap d-flex">
                    <i class="top-icons bi bi-grid-3x3-gap text-light me-3"></i>
                    <span class="top-icons B-icon">B</span>
                </div>
            </div>
        </header>

        <main class="d-flex">
            <div class="sidebar-wrap">
                <div class="compose-wrap">
                    <i class="bi bi-pencil"></i>
                    Compose
                </div>
                <div class="sidebar-btns-wrap">
                    <ul>
                        <li class="d-flex sidebar-btns sidebar-inbox-btn"><i class="bi bi-inbox"></i>Inbox</li>
                        <li class="d-flex sidebar-btns"><i class="bi bi-star"></i>Starred</li>
                        <li class="d-flex sidebar-btns"><i class="bi bi-clock"></i>Snoozed</li>
                        <li class="d-flex sidebar-btns"><i class="bi bi-send"></i>Sent</li>
                        <li class="d-flex sidebar-btns"><i class="bi bi-file"></i>Drafts</li>
                        <li class="d-flex sidebar-btns"><i class="bi bi-circle"></i>Spam</li>
                        <li class="d-flex sidebar-btns"><i class="bi bi-bucket"></i>Purchase</li>
                    </ul>
                </div>           
            </div>

            <div class="content-wrap">
                <div class="content">
                    <div class="content-top">
                        <div class="top-btns-wrap d-flex">
                            <i class="bi bi-circle"></i>
                            <i class="bi bi-circle"></i>
                            <i class="bi bi-circle"></i>
                        </div>
                        <div class="pagination">
                            <span>1-42 of 42</span>
                            <i class="bi bi-arrow-left-circle-fill"></i>
                            <i class="bi bi-arrow-right-circle-fill"></i>
                        </div>
                    </div>
                    <div class="content-main"></div>
                    <div class="content-bottom"></div>
                </div>
            </div>

            <!-- <div class="side-panel-wrap">
                <ul>
                    <li class="bi bi-calendar"></li>
                    <li class="bi bi-lamp"></li>
                    <li class="bi bi-check"></li>
                    <li class="bi bi-person"></li>
                </ul>
            </div> -->
        </main>
    </body>
</html>