<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'main/home.css' %}">
    </head>

    <body>
        <header>
            <div class="topbar">
                <div class="logo"></div>
                <div class="search-wrap">
                    <form action="">
                        <input type="text" placeholder="Search..." style="width: 50%; padding: 8px;">
                    </form>
                </div>
                <div class="help-setting-wrap">
                    <ul>
                        <li>Help</li>
                        <li>Setting</li>
                        <li>Google apps</li>
                        <li>Google account</li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
            <div class="sidebar-wrap">
                <div class="compose">
                    Compose
                </div>
                <div class="">
                    <ul>
                        <li>Inbox</li>
                        <li>Starred</li>
                        <li>Snoozed</li>
                        <li>Sent</li>
                        <li>Drafts</li>
                        <li>Spam</li>
                        <li>Purchase</li>
                    </ul>
                </div>           
            </div>

            <div class="content-wrap">
                <div class="content">
                    <div class="content-top">
                        <div class="top-btns-wrap">
                            <div class="select">
                                Select
                            </div>
                            <div class="refresh">
                                Refresh
                            </div>
                            <div class="more">
                                More
                            </div>
                        </div>
                        <div class="pagination"></div>
                    </div>
                    <div class="content-main"></div>
                    <div class="content-bottom"></div>
                </div>
            </div>

            <div class="side-panel-wrap">
                <ul>
                    <li>Calendar</li>
                    <li>Keep</li>
                    <li>Tasks</li>
                    <li>Contacts</li>
                </ul>
            </div>
        </main>
    </body>
</html>